@font-face {
   font-family: 'Cutest Things Italic';
   font-display: swap;
   src: url('file:///C:/Users/Windows10/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-01-29_170947/fonts/Cutest%20Things%20Italic/font.ttf');
}
