@font-face {
   font-family: 'Cutest Things Italic';
   font-display: swap;
   src: url('Cutest Things Italic/font.ttf');
}
@font-face {
   font-family: 'FontsFree-Net-Honey';
   font-display: swap;
   src: url('FontsFree-Net-Honey/font.ttf');
}
