@font-face {
   font-family: 'FontsFree-Net-Honey';
   font-display: swap;
   src: url('file:///C:/Users/Windows10/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-01-29_170947/fonts/FontsFree-Net-Honey/font.ttf');
}
